.land {
	fill: #F2F2F2;
  stroke: #808080;
}

.border {
	fill: none;
	stroke: #808080;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.bubble {
	fill: #F66;
	fill-opacity: .5;
	stroke: #fff;
	stroke-width: .5px;
}

.bubble :hover {
	stroke: #606060;
}

.legend circle {
	fill: none;
	stroke: #CCC;
}

.legend text {
	fill: #777;
	font: 10px sans-serif;
	text-anchor: middle;
}
