.land {
	fill: #F2F2F2;
  stroke: #808080;
}

.border {
	fill: none;
	stroke: #808080;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.bubble {
	fill: #F66;
	fill-opacity: .5;
	stroke: #fff;
	stroke-width: .5px;
}

.bubble :hover {
	stroke: #606060;
}

.legend circle {
	fill: none;
	stroke: #CCC;
}

.legend text {
	fill: #777;
	font: 10px sans-serif;
	text-anchor: middle;
}

.tooltip {
  position: absolute;
  max-width: 400px;
  height: auto;
  padding: 5px;
  background-color: #808080;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: sans-serif;
  font-size:12px;
  color: #fff;
}

.y-axis path,
.y-axis line {
    fill: none;
    stroke: #fff;
    color: #fff;
    shape-rendering: crispEdges;
}

.x-axis path, .x-axis line{
  display:none;
  color: #fff;
}

.x-axis, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
    color: #fff;
    fill: #fff;

}

.bar {
  fill: #e5e5e5;
}
